* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul. li {
    list-style: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}


/*HEADER*/
header {
    font-family: 'Roboto', sans-serif;
}

.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    font-size: 16px;
    line-height: 36px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative;
}

.header__btn:before {
    content: "\f0b1";
    font-family: 'icomoon';
    position: absolute;
    left: 22px;
    color: #0a0a0a;
}

.header__phone, .header__email {
    color: #cbcacb;
    line-height: 45px;
    letter-spacing: 0.25px;
    position: relative;
}

.header__email {
    margin-right: 20px;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone {
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone:before {
    content: "\f095";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email {
    padding-left: 24px;
}

.header__email:before {
    content: "\f003";
    font-family: 'icomoon';
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 34px 0 23px;
}

.header__content_inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    padding-right: 20px;
}

.header__btn-menu {
    display: none;
    font-size: 30px;
}

.menu li {
    display: inline-block;
}

.menu a {
    font-size: 16px;
    color: #323232;
    line-height: 36px;
    border: transparent solid 1px;
    padding-inline: 16px;
    transition: all .3s;
}

.menu li + li {
    padding-left: 10px;
}

.menu a:hover {
    border-color: #ffc222;
}

#modal {
    display: none;
}


/*SLIDER*/
.slider {
    background: url("../img/slider-fon.png") no-repeat center;
    background-size: cover;
    min-height: 500px;
    position: relative;
}

.slider__item-content {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}

.slider__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: white;
    font-weight: 500;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider__text {
    font-size: 18px;
    line-height: 24px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.default-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 24px;
    color: white;
    padding: 8px 30px 8px 24px;
    border: 1px solid #ffc222;
    border-right-width: 20px;
    position: relative;
    outline: none;
}

.default-btn:before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    right: -13px;
    color: white;
}

.slick-btn {
    position: absolute;
    top: 70%;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: white;
    border: white 1px solid;
    font-family: 'icomoon';
    cursor: pointer;
}

.slick-next {
    right: 0;
}

.slick-next:before {
    content: "\f105";
}

.slick-prev:before {
    content: "\f104";
}

.slick-next:hover, .slick-prev:hover {
    background-color: #ffc222;
}

.slick-disabled:hover {
    background-color: transparent;
    cursor: default;
}


/*SERVICES*/
.services {
    padding: 50px 0 30px;
}

.default-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 60px;
}

.default-top__title-box {
    max-width: 520px;
    padding-left: 140px;
    position: relative;
}

.default-top__title-box:before {
    content: "";
    position: absolute;
    left: 0;
    top: 13%;
    width: 100px;
    height: 2px;
    background-color: #ffc222;
}

.default-top__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    color: black;
    padding-bottom: 10px;
}

.default-top__text {
    letter-spacing: 0.1px;
}

.default-top__btn a {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #373636;
    padding: 5px 38px;
    border: #e6e6e6 3px solid;
}

.services__items {
    display: flex;
    justify-content: space-between;
}

.services__item {
    width: 360px;
    text-align: center;
    padding: 30px 35px 136px 35px;
    background-color: #f9f9f9;
    position: relative;
    box-shadow: 0 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}

.services__item-title {
    font-size: 18px;
    line-height: 24px;
    color: #212020;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}

.services__item-text {
    color: #5e5e5e;
    letter-spacing: 0.1px;
}

.services__item-links {
    display: flex;
    width: calc(100% - 70px);
    position: absolute;
    justify-content: space-between;
    align-items: center;
    bottom: 40px;
}

.services__item-link {
    font-family: 'Roboto', sans-serif;
    color: #050505;
    border-bottom: 1px solid #050505;
}

.services__btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.25px;
    color: #373636;
}

/*ABOUT*/
.about {
    background: url("../img/about-fon.png") no-repeat center;
    background-size: cover;
    padding: 25px 0 45px;
}

.about__content {
    max-width: 545px;
}

.about__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    line-height: 24px;
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
}

.about__text {
    line-height: 24px;
    color: #d3d2d2;
    letter-spacing: 0.1px;
}

.about__btn {
    font-family: 'Roboto', sans-serif;
    line-height: 24px;
    letter-spacing: 0.25px;
    margin-top: 35px;
}


/*FORM*/
/*Часть закомментил в formstyler.theme.css,*/
/*в style не стал перебивать стили*/
.form .container {
    padding: 45px 15px 40px;
    min-height: 520px;
    background: url("../img/girl.png") no-repeat 100% 100%;
}

.form__box {
    display: flex;
    flex-wrap: wrap;
    max-width: 850px;
    justify-content: space-between;
}

.form__top {
    padding-bottom: 30px;
}

.form label {
    font-family: 'Roboto', sans-serif;
    line-height: 36px;
    display: block;
    padding-top: 10px;
    color: #282828;
}

.form input, .form select {
    width: 260px;
    height: 40px;
    appearance: none;
}

.form input {
    padding: 0 10px;
}

.form textarea {
    width: 560px;
    height: 212px;
    margin-bottom: 46px;
    padding: 10px 10px;
    resize: none;
}

.form input, .form select, .form textarea, .form .jq-selectbox.jqselect {
    border: 1px solid #e6e6e6;
    display: block;
    outline: none;
}

.form .jq-selectbox.jqselect {
    padding-left: 17px;
    padding-top: 2px;
    color: #cdcdcd;
}

.form__btn, .form__btn:before {
    background-color: transparent;
    color: #282828;
    float: right;
    height: 40px;
}

.jq-selectbox__trigger-arrow:before {
    content: "\f105";
    font-family: 'icomoon';
    position: absolute;
    color: #898888;
    left: 10px;
    transform: rotate(90deg);
}

.jq-selectbox li {
    color: #898888;
    min-height: 40px;
    padding-left: 17px;
    padding-top: 10px;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow:before {
    color: #000;
}


/*ADVANTAGES*/
.advantages {
    background: url("../img/advantages.png") no-repeat center;
    background-size: cover;
    color: #ffffff;
    padding: 55px 0 40px;
}

.advantages__items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    height: 100%;
}

.advantages__item {
    width: 330px;
    position: relative;
}

.advantages__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 65px;

}

.advantages__title:before {
    position: absolute;
    content: "\f00c";
    font-family: 'icomoon';
    font-size: 14px;
    line-height: 24px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #ffc222;
    padding: 6px 11px;
}

.advantages__text {
    line-height: 24px;
    padding-top: 20px;
    letter-spacing: 0.1px;
    color: #d3d2d2;
}


/*NEWS*/
.news {
    padding: 55px 0 110px;
    background-color: #f9f9f9;
}

.news__items {
    display: flex;
    justify-content: space-between;
}

.news__slider {
    max-width: 555px;
    box-shadow: 0 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
    background-color: #ffffff;
    position: relative;
}

.news__slider:before {
    position: absolute;
    content: "\f10e";
    font-size: 16px;
    font-family: 'icomoon';
    background-color: #ffc222;
    padding: 7px 24px;
    left: 70px;
    color: white;
}

.news__slider-title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: #242424;
}

.news__blog-title {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 20px;
    font-weight: 500;
    color: #242424;
}

.news__blog-text, .news__slider-text {
    letter-spacing: 0.1px;
    padding-top: 20px;
    color: #5e5e5e;
}

.news__slider-bottom {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1px;
    padding-top: 38px;
    color: #212020;
}

.news__blog {
    max-width: 262px;
    position: relative;
}

.news__blog:hover {
    background-color: rgba(255, 194, 34, 0.18);
    transition: .3s;
}

.news__slider-content {
    padding: 65px 35px 45px 70px;
}

.news__blog-date {
    position: absolute;
    top: 0;
    left: 10px;
    color: #f9f9f9;
    background-color: #ffc222;
    padding: 19px 7px;
    font-weight: 600;
}

.news__slider .slick-btn {
    bottom: -80px;
    top: auto;
    background-color: #ffc222;
    color: white;
    border: #ffc222 1px solid;
}

.news__slider .slick-prev {
    right: 58px;
}

.news__slider .slick-disabled {
    background-color: transparent;
    border: #dadada 1px solid;
    color: #9e9c9c;
}


/*FOOTER*/
.footer__content {
    background-color: #595959;
    padding: 28px 0 28px;
}

.footer__info {
    width: 360px;
}

.footer__info a {
    display: block;
}

.footer__info-btn {
    margin: 28px 0 20px;
    width: 266px;
    float: none;
}

.footer__copy {
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.5px;
    background-color: #303030;
    height: 42px;
    align-items: center;
    color: #ffffff;
}

.footer__info-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 36px;
    letter-spacing: 0.5px;
    color: #ffffff;
}

.footer__info-text {
    font-family: 'Roboto', sans-serif;
    color: #d3d2d2;
}

.footer__info-phone, .footer__info-email, .footer__info-map {
    line-height: 30px;
}

.footer__info-map:before {
    content: "\f041";
    font-family: 'icomoon';
    left: 3px;
}

.footer__map {
    width: 632px;
    height: 251px;
}

.footer__content .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*MODAL*/
#modal {
    width: 300px;
    cursor: default;
}

#modal input {
    width: 100%;
    border: 1px solid #e6e6e6;
    outline: none;
    margin-bottom: 20px;
    height: 40px;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
}

#modal input[type="submit"] {
    background-color: #ffc222;
}

#modal input[type="submit"]:hover {
    color: #999999;
}













